<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </style>
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Laman Web</title>
</head>
<body>
    <div class="maincontainer">
        <div class="gambar">
            <div class="img">
                <img src="{{url_for('static', filename='images/download (1).jpeg') }}" alt="gambar" style="height: 80px;">
            </div>
            <div class="welcoming">
                <h2>Selamat Datang</h2>
            </div>
            <div class="kalimat">
                <h2>Lorem ipsum dolor sit amet
                    <br>
                    Lorem ipsum dolor 
                    sit amet
                </h2>
            </div>
        </div>

        <div class="pilihan">
            <div class="pilihan-satu">
                <div class="item">
                    <p>A</p>
                </div>
                <div class = "item">
                    <p>B</p>
                </div>
                <div class = "item">
                    <p>C</p>
                </div>
                <div class = "item">
                    <p>D</p>
                </div>
                <div class="item">
                    <p>E</p>
                </div>
                <div class = "item">
                    <p>F</p>
                </div>
            </div>
            <div class="pilihan-dua">
                <div class = "item">
                    <p>G</p>
                </div>
                <div class = "item">
                    <p>H</p>
                </div>
                <div class = "item">
                    <p>I</p>
                </div>
                <div class = "item">
                    <p>J</p>
                </div>
                <div class = "item">
                    <p>K</p>
                </div>
                <div class = "item">
                    <p>L</p>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="bulatan">
                <div class="bulat">
                    <p>A</p>
                </div>
                <div class = "bulat">
                    <p>B</p>
                </div>
                <div class = "bulat">
                    <p>C</p>
                </div>
            </div>

            <div class="bacaan">
                <div class="bacaan-satu">
                    <h1>hai saya text</h1>
                    <p>Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. 
                        Eos neque molestias tempora 
                        voluptatibus necessitatibus 
                        eius vel earum. Architecto, 
                        nostrum necessitatibus quaerat 
                        consequuntur cupiditate ut dolore 
                        quae dolor facere, consectetur itaque!</p>
                </div>
    
                <div class="bacaan-dua">
                    <h1>hai saya text</h1>
                    Lorem ipsum dolor sit, amet 
                    consectetur adipisicing elit. 
                    Ullam, eum. Eum soluta nulla 
                    qui iure natus. Ut nihil quam, est 
                    dignissimos dolore molestias? Officiis 
                    obcaecati architecto unde id deserunt! Culpa!
                </div>
            </div>

            <div class="kotakan">
                <div class="kotak">
                    <p>A</p>
                </div>
                <div class = "kotak">
                    <p>B</p>
                </div>
                <div class = "kotak">
                    <p>C</p>
                </div>
            </div>
        </div>

        <div class="akhiran">
            <div class="kirian">
                <p>Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit.
                </p>
            </div>
            <div class="kananan">
                <p>
                    Lorem ipsum dolor, sit amet 
                    consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit.
                </p>
            </div>
        </div>

    </div>
</body>
</html>